@{
    ViewData["Title"] = "Información escuela";
}

<h1>Escuela </h1>
<h2>Nombre: @Model.Nombre</h2>
<p><strong>Año de Creacion: @Model.añodeCreación</strong></p>
<address>
    <p>Dirección: </p>
    <p>País: </p>
    <p>Ciudad: </p>
</address>