@model List<Materias>

@{
    ViewData["Title"] = "Información Materias";
}

<h1>@ViewData["Title"]</h1>

@foreach (var materia in Model)
{
   <partial name="MateriaSimple" model="materia"/>
}

<p><i>@ViewBag.Fecha</i></p>
