@model Grupos
@{
    ViewData["Title"] = "Información Curso";
}

<h1>@ViewData["Title"]</h1>


<form method="POST">
    <div>
        <label asp-for="Nombre"></label>    
        <input  asp-for="Nombre"/>
    </div>
        <div>
        <label asp-for="Semestre"></label>
        @Html.DropDownList(
            "Semestre", Html.GetEnumSelectList<Semestres>(),
            "Seleccione un semestre",
            new {@class = "form-control"}
        )
    </div>
        <div>
        <label asp-for="Turno"></label>
        @Html.DropDownList(
            "Semestre", Html.GetEnumSelectList<Turnos>(),
            "Seleccione un Turno",
            new {@class = "form-control"}
        )
    </div>
    <input type="submit"/>
</form>


<p><i>@ViewBag.Fecha</i></p>
